@import './mixins.styl';

@keyframes fa-spin {
  0% {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(359deg)
  }
}

.loader {
  absolute()
  center()
  background: alpha(#fff, .5)
  backdrop-filter: blur(3px);

  &__icon {
    wh 40px;
    border: 4px solid #000;
    border-top-color: transparent;
    border-radius: 50%;
    animation: fa-spin 2s linear infinite;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family sans-serif
}
